modules = ["web", "nodejs-20"]
run = "npm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run preview"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "React Dev Server"
author = 43056180
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run react-dev"
